.item {
    background-color: lightpink;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    opacity: 1;
  
    &.completed {
      background-color: rgb(182, 250, 255);
      opacity: 0.5;
    } 
}

.deleteButton {
    color: red;
    background-color: rosybrown;
    font-size: 10px;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    transform: opacity 0.2s;
    margin: 10px;
    margin-top: 0px;
    width: 70px;
    height: 18px;
  
    &:hover:enabled {
      opacity: 0.5;
    }
  
    &.disabled {
      cursor: not-allowed;
    }
  }